/* src/app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: Arial, sans-serif;
  --font-montserrat: Arial, sans-serif;

  --background: #07111f;
  --foreground: #f8fafc;
  --surface: #0f1b31;
  --muted: #94a3b8;

  --primary: #00f5a0;
  --secondary: #2f6bff;

  /* NOVAS */
  --dark: #0f172a;
  --gray: #e5e7eb;

  --input-bg: #ffffff;
  --input-text: #0f172a;
  --input-placeholder: #94a3b8;
}

html,
body {
  width: 100%;
  min-height: 100%;
  scroll-behavior: smooth;
}

body {
  background:
          radial-gradient(circle at top left, rgba(0,245,160,.06), transparent 30%),
          radial-gradient(circle at top right, rgba(47,107,255,.06), transparent 30%),
          var(--background);

  color: var(--foreground);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

input,
textarea,
select {
  background: var(--input-bg);
  color: var(--input-text);
}

input::placeholder,
textarea::placeholder {
  color: var(--input-placeholder);
}

.text-gradient {
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-gradient-brand {
  background: linear-gradient(135deg, var(--primary), var(--secondary));
}

.shadow-glow-primary {
  box-shadow: 0 0 24px rgba(0,245,160,.28);
}